@keyframes cogspin{
	0%{
		transform:rotateZ(0deg);
	}
	50%{
		transform:rotateZ(180deg);
	}
	100%{
		transform:rotateZ(0deg);
	}
	
}

.screen-header{
    display:flex;
    align-items: center;
    justify-content:space-between;
}

.screen-header__title{
    font-size:32px;
    font-weight: bold;
}

.screen-header__icons{
    display:flex;
    justify-content: space-between;
}
.screen-header__icons span{
    display:block;
    margin:0 10px;
}

.screen-header__icons .fa-cog:hover{
	animation:cogspin 1s linear infinite;
}