.status-bar{
    position:fixed;
    top:5px;
    left:0;
    right:0;
    display:flex;
    justify-content: center;
    background-color:white;
    z-index:2;
}
.status-bar div{
    width:33%;
}
.status-bar div:nth-child(2){
    display:flex;
    justify-content: center;
}
.status-bar div:last-child{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}